<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
<!--            <p class="message-text text-center" th:utext="${adminMessage}"></p>-->

            <div class="message-text text-center" sec:authorize="hasAuthority('ADMIN')">

                <p>Hi, <span sec:authentication="name"></span>. You are authenticated as <span
                    sec:authentication="principal.authorities"></span> </p>

                <th:block th:text="${showUserNames}"/>

                <div>
                <table class="styled-table">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Roles</th>
                        <th>Upgrade</th>
                    </thead>

                    <tbody th:each="user : ${showUsers}" >
                        <tr>
                            <td th:text="${user.id}">id</td>
                            <td th:text="${user.name}">name</td>

                            <td th:text="${user.active} ? 'Active' : 'Banned'">status</td>
                            <td><a th:utext="${user.active} ? 'Ban' : 'Unban'"
                                   th:href="@{/ban_user(personId=${user.id})}"
                                   th:each="role : ${user.getRoles}"
                                   th:classappend="${role.role} == 'ADMIN' ? disabled : active"
                                   class="btn btn-danger"></a></td>

                            <td th:each="role : ${user.getRoles}" th:text="${role.role}">role</td>
                            <td><a th:each="role : ${user.getRoles}"
                                   th:utext="${role.role} == 'MANAGER' ? 'Downgrade' : 'Upgrade'"
                                   th:href="@{/manager_handler(personId=${user.id})}"
                                   th:classappend="${role.role} == 'ADMIN' ? disabled : active"
                                   class="btn btn-primary"></a></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <a th:href="@{/mainPage}" class="btn btn-success">Main Page</a>

        </div>
    </div>
</div>
</body>
</html>