<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>Home Page</title>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</head>

<body>

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
    <a th:href="@{/mainPage}" class="btn btn-success">Main Page</a>
    <a th:href="@{/carAddPage}" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Car Add Page</a>

    <div class="btn-group">
        <a href="?lang=en" role="button">EN</a>
        <a href="?lang=ua" role="button">UA</a>
    </div>


    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>

<!--            <div th:if="${currentUser.active}  == false">-->
<!--                <p class="message-text text-center" th:text="#{message.text.banned}"></p>-->
<!--            </div>-->

            <div class="message-text text-center" sec:authorize="hasAuthority('ADMIN')">

                <p>Hi, <span sec:authentication="name"></span>. You are authenticated as <span
                    sec:authentication="principal.authorities"></span> </p>

                <div>
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>User name</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Roles</th>
                        <th>Upgrade</th>
                    </thead>

                    <tbody th:each="user : ${showUsers}" >
                        <tr>
                            <td th:text="${user.id}">id</td>
                            <td th:text="${user.name}">name</td>
                            <td th:text="${user.lastName}">name</td>
                            <td th:text="${user.userName}">name</td>

                            <td th:text="${user.active} ? 'Active' : 'Banned'">status</td>
                            <td><a th:utext="${user.active} ? 'Ban' : 'Unban'"
                                   th:href="@{/ban_user(personId=${user.id})}"
                                   th:each="role : ${user.getRoles}"
                                   th:classappend="${role.role} == 'ADMIN' ? disabled : active"
                                   class="btn btn-danger"></a></td>

                            <td th:each="role : ${user.getRoles}" th:text="${role.role}">role</td>
                            <td><a th:each="role : ${user.getRoles}"
                                   th:utext="${role.role} == 'MANAGER' ? 'Downgrade' : 'Upgrade'"
                                   th:href="@{/manager_handler(personId=${user.id})}"
                                   th:classappend="${role.role} == 'ADMIN' ? disabled : active"
                                   class="btn btn-primary"></a></td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>

<!--            th:if="${currentUser.active}"-->
            <div class="message-text text-center"  sec:authorize="hasAnyAuthority('USER', 'MANAGER')">
                 <table class="table table-hover">
                        <thead>
                        <th sec:authorize="hasAuthority('MANAGER')">#</th>
                        <th>Car name</th>
                        <th>Car status</th>
                        <th>Price</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                        <th>Pay status</th>
                        <th>Ordered by</th>
                        <th>Order description</th>
                        <th sec:authorize="hasAuthority('USER')">Cancel order</th>
                        <th sec:authorize="hasAuthority('USER')">Pay for order</th>
                        <th sec:authorize="hasAuthority('USER')">Pay for repair</th>
<!--                        <th>Repair price</th>-->
<!--                        <th>Repair status</th>-->

                        <th sec:authorize="hasAuthority('MANAGER')">Accept order</th>
                        <th sec:authorize="hasAuthority('MANAGER')">Reject order</th>
                        <th sec:authorize="hasAuthority('MANAGER')">Register car repair</th>
                        <th sec:authorize="hasAuthority('MANAGER')">Register car return</th>
                        </thead>

                        <tbody >
                        <tr th:each="order : ${ordersList}"
                            th:if="${currentUser} == ${order.user} or ${#authorization.expression('hasAuthority(''MANAGER'')')}">
                            <td th:text="${order.id}"
                                sec:authorize="hasAuthority('MANAGER')">name</td>
                            <td th:text="${order.car.carName}">name</td>
                            <td th:text="${order.car.status}">st</td>
                            <td th:text="${order.orderPrice}">status</td>

<!--                            TODO date localization-->
                            <td th:text="${#temporals.format(order.startTime,
                                                            'dd-MMM-yyyy HH:mm',
                                                            #locale.forLanguageTag(currentLang))}">date
                            </td>
                            <td
                                    th:text="${#temporals.format(order.endTime,
                                                                'dd-MMM-yyyy HH:mm',
                                                                #locale.forLanguageTag(currentLang))}">date</td>


                            <td th:text="${order.status}">status</td>
                            <td th:text="${order.payStatus}">status</td>
                            <td th:text="${order.user.name}">status</td>
                            <td th:text="${order.description}">st</td>

                            <td sec:authorize="hasAuthority('USER')">
                                <a th:utext="#{common.text.orderCancel}"
                                   th:href="@{/cancelOrder(orderId=${order.id})}"
                                   th:classappend="${order.car.status.name()} == 'REPAIR' or
                                   ${order.status.name()} == 'ACCEPTED'? disabled : active"
                                   class="btn btn-danger"></a>
                            </td>

                            <td sec:authorize="hasAuthority('USER')">
                                <a
                                   th:utext="#{common.text.orderPay}"
                                   th:href="@{/payOrder(orderId=${order.id})}"
                                   th:classappend="${order.payStatus.name()} == 'PAYED' or
                                   ${order.status.name()} == 'WAITING' or
                                   ${order.status.name()} == 'REJECTED'? disabled : active"
                                   class="btn btn-danger"></a>
                            </td>

                            <td sec:authorize="hasAuthority('USER')">
                                <a
                                        th:utext="#{common.text.orderPay}"
                                        th:href="@{/payRepair(orderId=${order.id})}"
                                        th:classappend="${order.car.status.name()} == 'REPAIR' ? active : disabled"
                                        class="btn btn-danger"></a>
                            </td>

<!--                            TODO add repair status and price-->
                            <!--                            repair pay-->
                            <!--                            repair status-->

<!--                            <td th:href="@{/payRepair(orderId=${order.id})}" th:value="${repairPrice}">price</td>-->
<!--                            <td>st</td>-->




                            <td sec:authorize="hasAuthority('MANAGER')">
                                <a th:utext="#{common.text.orderAccept}"
                                   th:href="@{/acceptOrder(orderId=${order.id})}"
                                   th:classappend="${order.status.name()} == 'ACCEPTED' or
                                   ${order.status.name()} == 'REJECTED' or
                                   ${order.status.name()} == 'FINISHED'? disabled : active"
                                   class="btn btn-danger"></a>
                            </td>

                            <td sec:authorize="hasAuthority('MANAGER')">
                                <a th:utext="#{common.text.orderReject}"
                                   th:href="@{'/carRejectPage/' + ${order.id}}"
                                   th:value="${order.id}"
                                   th:classappend="${order.status.name()} != 'WAITING' ? disabled : active"
                                   class="btn btn-danger"
                                ></a>
                            </td>

                            <td sec:authorize="hasAuthority('MANAGER')"
                                th:if="${order.status.name()} == 'ACCEPTED' and ${order.payStatus.name()} == 'PAYED'">
                                <a th:utext="#{common.text.orderRepair}"
                                   th:href="@{'/carRepairPage/' + ${order.id}}"
                                   th:value="${order.id}"
                                   th:classappend="${order.status.name()} == 'FINISHED' or
                                   ${order.status.name()} == 'REJECTED' or
                                   ${order.car.status.name()} == 'REPAIR'? disabled : active"
                                   class="btn btn-danger"
                                ></a>
                            </td>

<!--                           TODO set finished status in order-->
                            <td sec:authorize="hasAuthority('MANAGER')"
                                th:if="${order.status.name()} == 'ACCEPTED' and ${order.payStatus.name()} == 'PAYED'">
                                <a th:utext="#{common.text.orderFinish}"
                                   th:href="@{/finishOrder(orderId=${order.id})}"
                                   th:classappend="${order.status.name()} == 'FINISHED' or
                                   ${order.status.name()} == 'REJECTED' ? disabled : active"
                                   class="btn btn-danger"
                                ></a>
                            </td>




                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
</div>

<script src="../../static/js/dateHandler.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>-->

</body>
</html>