<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cars</title>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Car page</h1>
<div>
    <table class="table table-striped">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Mark</th>
        <th>Quality</th>
        <th>Price</th>
        <th>Delete</th>
        </thead>

        <tbody th:each="car : ${showCars}">
        <tr>
            <td th:text="${car.id}">id</td>
            <td th:text="${car.carName}">name</td>
            <td th:text="${car.carMark}">mark</td>
            <td th:text="${car.carQuality}">qual</td>
            <td th:text="${car.carPrice}">price</td>
            <td><a th:href="@{mainPage/deleteCar(carId=${car.id})}"
                   class="btn btn-primary"></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>