<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cars</title>
    <meta charset="ISO-8859-1" />
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/home.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Main page</h1>
<div>
    <table id="example" class="table table-hover">
        <thead>
        <th>Name</th>
        <th>Mark</th>
        <th>Quality</th>
        <th>Price</th>
        <th sec:authorize="hasAuthority('ADMIN')">Update</th>
        <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
        <th sec:authorize="hasAuthority('USER')">Order</th>
        </thead>

        <tbody th:each="car : ${showCars}">
        <tr>
<!--            <td th:text="${car.id}">id</td>-->
            <td th:text="${car.carName}">name</td>
            <td th:text="${car.carMark}">mark</td>
            <td th:text="${car.carQuality}">qual</td>
            <td th:text="${car.carPrice}">price</td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:text="#{common.text.update}"
                   th:href="@{'carUpdatePage/' + ${car.id}}"
                   class="btn btn-primary"></a></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:text="#{common.text.delete}"
                   th:href="@{mainPage/deleteCar(carId=${car.id})}"
                   class="btn btn-danger"></a></td>
            <td sec:authorize="hasAuthority('USER')">
                <a th:text="#{common.text.order}"
                   th:href="@{'carOrderPage/' + ${car.id}}"
                   class="btn btn-primary"></a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/insides/home}" class="btn btn-success">Home Page</a>

</div>

<!--<script src="../static/js/orderHandler.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>